@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    padding: 40px 150px;
    background-color: #3a1f0d;
}
body {
    background-color: #F5D5BC; /* cor base por trás da imagem */
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#fundocafe {
    background-image: url('../imagens/1page/fundocafe.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

#parte1 {
    padding: 20px;
    padding-left: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}

header img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
}

header > h1 {
    transform: translateX(70px);
    color: #F7D2B7;
    font-size: 52px;
    text-shadow: 2px 2px 2px #38251E;
    position: absolute;
    left: 0;
}

nav {
    display: flex;
    gap: 45px;
    background-color: #9e8f7a79;
    padding: 20px 30px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.432);
}
nav > a {
    text-decoration: none;
    color: rgb(255, 246, 235);
    font-weight: bold;
    transition: all 0.3s;

}

nav a:hover {
    color: #F7D2B7;
     transform: scale(1.1); /* aumenta levemente sem quebrar layout */
}

a.btn-buy {
    margin-right: 100px;
}
.btn-buy {
    position: absolute;
    right: 0;
    background: #f7d2b7;
    color: #3a1f0d;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-buy:hover {
    background: #fff;
    color: #3a1f0d;
}

/* INTRO */
.intro {
    max-width: 701px;
}

.small-text {
    padding-top: 60px;
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.highlight {
    font-family: '', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #EBCDB3;
    text-shadow: 2px 2px 2px #38251E;
}

.highlight2 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #38251E;
}

.desc {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e5dcd5;
}

/* Botões intro */
.buttons {
    display: flex;
    gap: 15px;
}

.btn-order {
    background: #EBCDB3;
    color: #3a1f0d;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-order:hover {
    background: #3a1f0d;
    color: #EBCDB3;
}

.btn-alt {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-alt:hover {
    background: #fff;
    color: #3a1f0d;
}

/* CAFÉS */
.cafes {
    background: #856246;
    padding: 20px;
    padding-bottom: 0px;
}

ul > img {
    width: 50px;
    height: 50px;
    transform: translateY(-10px);
}

.cafes ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cafes li {
    font-size: 24px;
    font-weight: bold;
    color: #fff6eb;
    transition: 0.3s;
}

.cafes li:hover {
    transform: scale(1.1);
}

h2#prove-nossos {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

p#revelando-os {
    text-align: center;
    padding-bottom: 40px;
}

div.container {            
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 60px;
}

div.item {
    
    width: 300px;
    background: linear-gradient(to bottom, #EDB990, #fff);
    border: 4px solid rgb(255, 255, 255);
    padding-top: 20px;
    text-align: center;

}

div.container img {
    width: 260px;
    height: 260px;
}

div.item h2 {
    font-size: 20px;
}

div.item p {
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

div.item p.intensidade {
    font-size: 16px;
}

#fundocafe2 {
    background-image: url('../imagens/2page/fundocafe2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
    padding: 80px;
}

#fundocafe2 h2 {
    font-size: 50px;
}

#fundocafe2 p {
    font-size: 24px;
    max-width: 800px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}

/**/

div.container2 {            
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 60px;
    gap: 15px;
}

div.item2 {
    
    width: 400px;
    background-color: #F8E1CF;
    padding: 20px 50px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 25px;

}

div.container2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

div.item2 h2 {
    padding-top: 15px;
    font-size: 24px;
}

div.item2 p {
    padding-top: 15px;
    font-size: 16px;
}

#por {
    padding-top: 15px;
    font-size: 16px;
}

#destacado {
    background-color: #FFF8F2;
}

/**/

.perguntas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
}

/* Coluna esquerda */
.esquerda {
  flex: 1;
  margin-left: 80px;
}

.esquerda h2 {
  font-size: 50px;
  font-weight: bold;
}

.imagem-cafe {
    width: 400px;
    height: 230px;
}

/* Coluna direita */
.direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 80px;
}

.pergunta {
  background: #724d31;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pergunta:hover {
  transform: scale(1.02);
}

#fundocafe3 {
    background-image: url('../imagens/3page/fundocafe3.png');
    background-size: cover;
    border-radius: 20px;
    height: 20vw;
    margin-left: 80px;
    margin-right: 80px;
}

#fundocafe3 h2 {
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 44px;
}

#fundocafe3 p {
    color: white;
    text-align: center;
    margin-left: 340px;
    margin-right: 340px;
}

/**/

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.campo {
  display: flex;
  background: white;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px; /* largura opcional */
}

.campo input {
  border: none;
  outline: none;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 14px;
  flex: 1;
}

.campo button {
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(135deg, #eacda3, #d6ae7b);
  color: #333;
  transition: 0.3s ease;
}

.campo button:hover {
  background: linear-gradient(135deg, #d6ae7b, #eacda3);
  transform: scale(1.05);
}

